:root {
  --primary-color: #442dec;
}
html{
  scroll-behavior: smooth;
}
*{
     font-family: "Poppins", sans-serif;
     box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
ul li{
    margin-bottom: 8px;
    font-size: 14px;
}
.y_padding{    
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.active{
  background-color: #e8e4e4;
  color: var( --primary-color);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.active2{
  background-color: var( --primary-color);
  color: white;
}
.x_padding {
    padding-left: 1.25rem;   /* px-5 */
    padding-right: 1.25rem;
  }

  @media (min-width: 768px) {
    .x_padding {
      padding-left: 2.5rem;  /* md:px-10 */
      padding-right: 2.5rem;
    }
  }

  @media (min-width: 1024px) {
    .x_padding {
      padding-left: 5rem;    /* lg:px-20 */
      padding-right: 5rem;
    }
  }

  @media (min-width: 1280px) {
    .x_padding {
      padding-left: 10rem;   /* xl:px-40 */
      padding-right: 10rem;
    }
  }